    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }

    body {
      /* background: linear-gradient(135deg, #0f2027, #203a43, #2c5364); */
      color: #fff;
      min-height: 100vh;
    }

    .container {
      max-width: 1100px;
      margin: auto;
      padding: 60px 20px;
    }

    /* Header */
    .page-header {
      text-align: center;
      margin-bottom: 60px;
    }

    .page-header h1 {
      font-size: 42px;
      font-weight: 600;
    }

    .page-header p {
      margin-top: 10px;
      font-size: 17px;
      color: #cfd8dc;
    }

    /* Category */
    .category {
      margin-bottom: 50px;
    }

    .category h2 {
      font-size: 26px;
      margin-bottom: 25px;
      border-left: 4px solid #00e5ff;
      padding-left: 12px;
      font-size: 1.8rem;
    }

    /* Cards Grid */
    .cert-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 25px;
    }

    /* Certificate Card */
    .cert-card {
      background: rgba(255, 255, 255, 0.08);
      backdrop-filter: blur(10px);
      border-radius: 16px;
      padding: 20px;
      transition: all 0.3s ease;
      position: relative;
    }

    .cert-card:hover {
      transform: translateY(-6px);
      background: rgba(255, 255, 255, 0.12);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    }

    .cert-card h3 {
      font-size: 1.4rem;
      font-weight: 500;
      margin-bottom: 6px;
    }

    .issuer {
      font-size: 16px;
      color: #b0bec5;
      margin-bottom: 8px;
      font-weight: 600;
    }

    .date {
      font-size: 15px;
      color: #90a4ae;
      margin-bottom: 12px;
      font-weight: 600;
    }

    /* Tags */
    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin-bottom: 15px;
    }

    .tag {
      font-size: 12px;
      padding: 4px 10px;
      border-radius: 20px;
      background: rgba(0, 229, 255, 0.15);
      color: #00e5ff;
      font-size: 0.9rem;
    }

    /* Button */
    .view-btn {
      display: inline-block;
      text-decoration: none;
      font-size: 14px;
      padding: 8px 16px;
      border-radius: 25px;
      color: #fff;
      border: 1px solid #00e5ff;
      transition: 0.3s;
    }

    .view-btn:hover {
      background: #00e5ff;
      color: #000;
    }

    /* Footer note */
    .footer-note {
      text-align: center;
      margin-top: 60px;
      font-size : 1.3rem;
      color: #cfd8dc;
    }
