.skills-card{
    display: inline-flex;
  padding: 9px 17px;
  margin-top: 20px;
  margin-right: 0px;
  /* background: rgb(200, 200, 200,0.1); */
  color: #ffffff;
  text-decoration: none;
  border-radius: 17px;
  font-weight: 600;
  transition: background 0.3s ease;
    flex-wrap: wrap;
    padding: 25px;
    justify-content: center;
    gap: 30px;
    
}

.main{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 3.5rem;
    color: #6EC6FF;    
    margin-top: 65px;
}

.skills-card div{
    background-color: #0E2A47;
    padding: 10px 15px;
    border: 0px solid #1B4DD4;
    border-radius: 13px;
    margin: 8px;
    box-shadow: 0 0 8px rgba(27, 77, 212, 0.6);
}

.skills-card h2{
    margin-bottom: 10px;
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.skills-card ul{
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(200, 200, 200);
}

.skills-card li{
    margin: 8px 0px;
}

.skills-card div:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 12px rgba(27, 77, 212, 0.9);
}

.skills-card li:hover {
    color: yellowgreen;
    font-weight: 700;
    font-size: 1.5rem;
}